<br/><br/>
<section class="container">

<h1>About the opportunity data dashboard</h1>

  <p>
    <a href="https://www.openactive.io/">OpenActive</a> is a community-led initiative using open data to help people get active.
    The opportunity data dashboard lists all of the openly licensed datasets and APIs published as part of the OpenActive initiative.
  </p>
  <p>
    Opportunity data is about where and when sport and physical activities happen. For example, when and where
    a yoga class or group run is taking place.
  </p>
  <p>
    Using the opportunity data feeds, you can harvest data about sporting and physical activities from across the UK.
    This data is made available for anyone to access, use, and share under an open licence. You are free to use the data
    to help build new products and services, for example to help people discover opportunities to be more physically
    active.
  </p>
  <p>
    The dashboard provides an overview of which datasets are available, which data publishers
    support <a href="https://www.w3.org/community/openactive/">the OpenActive standards</a>. 
  </p>

<br/>
<h2>Dashboard overview</h2>

<p>On the homepage you can find a table showing the various features of the each provider's API. Above the table you'll find a date and time which show how recently the datasets were updated. The dashboard should update every 30 minutes.</p>

<p>Columns, with explanations are as follows:</p>

  <table class="table">
    <thead>
      <tr><th>Column name</th><th>Description</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Provider
        </td>
        <td>
          States the provider name and a link to the dataset information page.
        </td>
      </tr>

      <tr>
        <td>
          Type of Feed
        </td>
        <td>
          States the type of feed defined the the dataset metadata.
        </td>
      </tr>

      <tr>
        <td>
          API Endpoint
        </td>
        <td>
          Provides a link to the API endpoint and shows whether the endpoint is responding to requests.
        </td>
      </tr>

      <tr>
        <td>
          Issues
        </td>
        <td>
          Displays the number of Github issues relevant to the dataset. This also links to the datasets github issues page, where you can discuss problems or contribute suggestions about the dataset
        </td>
      </tr>

      <tr>
        <td>
          Licence
        </td>
        <td>
          Shows and links to the licence which applies to the dataset.
        </td>
      </tr>

    </tbody>
  </table>

<br/>
<h2>Contribute to this dashboard</h2>

<p>If you'd like to contribute code, suggestions, or report a problem, you can submit a pull request or an issue to the <a title="OpenActive API Dashboard on Github" href="https://github.com/openactive/api-dashboard/" target="_blank">Github repository</a>.</p>
<br/>
</section>
