<br/><br/>
<div class="container">

<h1>About</h1>

<p>The OpenActive API dashboard provides publishers and users with a tool to find and understand OpenActive data published by various providers.</p>

<br/>
<h3>Dashboard columns</h3>

<p>On the homepage you can find a table showing the various features of the each provider's API. Above the table you'll find a date and time which show how recently the datasets were updated.</p>

<p>Columns, with explanations are as follows:</p>

<h4>Provider</h4>
<p>States the provider name and a link to the dataset information page.</p>

<h4>Endpoint</h4>
<p>Provides a link to the API endpoint and shows whether the endpoint is responding to requests. The endpoint status is updated every 30 minutes.</p>

<h4>Uses paging spec?</h4>
<p>Indicates whether the dataset conforms to the <a href="https://www.openactive.io/realtime-paged-data-exchange/">Realtime Paged Data Exchange specification</a>.</p>

<h4>Uses opportunity model?</h4>
<p>Indicates whether the dataset conforms to the <a href="https://www.openactive.io/modelling-opportunity-data/">Opportunity Model specification</a>.</p>

<h4>Summary</h4>
<p>If the dataset conforms to the two specifications the dashboard will produce a summary. Opening the summary shows: </p>

<div style="padding-left:2em">
  <h6>Activities</h6>
  <p>Shows the activities which apply to the dataset.</p>
  <h6>Areas</h6>
  <p>Shows the areas which apply to the dataset.</p>
</div>

<p>Please note opportunity counts in the summary are not exact and should only be used as a relative indication of dataset contents.</p>

<h4>Issues</h4>
<p>Displays a the number of github issues relevant to the dataset.</p>

<h4>Licence</h4>
<p>Shows the name of licence which applies to the dataset.</p>
</div>