<!DOCTYPE html>
<html>
<head>
  <title>OpenActive - Dashboard</title>
  <meta charset="utf-8">
  <link href="images/openactive-badge-large-2_1.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/openactive-badge-large-2.png" rel="apple-touch-icon">
  <link href="css/oa-dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <%= yield %>
</div>

<footer>

  <p>Supported by the <a href="http://theodi.org/" class="footer-link-2">Open Data Institute</a> and <a href="https://www.sportengland.org/" class="footer-link-2">Sport England</a></p>

</footer>
</body>
</html>