<!DOCTYPE html>
<html>
<head>
  <title>OpenActive - Dashboard</title>
  <meta charset="utf-8">
  <link href="images/openactive-badge-large-2_1.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/openactive-badge-large-2.png" rel="apple-touch-icon">
</head>
<body>
<div id="wrapper">
  <%= yield %>
</div>
</body>
</html>