<!DOCTYPE html>
<html>
<head>
  <title>OpenActive API Dashboard</title>
  <meta charset="utf-8">
  <link href="images/openactive-badge-large-2_1.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/openactive-badge-large-2.png" rel="apple-touch-icon">
  
  <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Montserrat:500,700">
  <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/oa-dashboard.css" rel="stylesheet" type="text/css">

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '<%= ENV["GOOGLE_ANALYTICS_CODE"] %>', 'auto');
    ga('send', 'pageview');
  </script>

  <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
<body>

<nav class="navbar navbar-expand-md fixed-top">
<div class="container">
  <a class="navbar-brand brand-text" href="#">OpenActive</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      
    </ul>
    
  </div>
</div>
</nav>

<main>
  <%= yield %>
</main>

<footer>

  <p>Supported by the <a href="http://theodi.org/" class="footer-link-2">Open Data Institute</a> and <a href="https://www.sportengland.org/" class="footer-link-2">Sport England</a></p>

</footer>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>