@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Source+Sans+Pro:300,400,700&subset=latin-ext");

body {
  margin: 0px;
  padding-bottom: 100px;
  color: #5A5A5A;
  font-family:"Montserrat",sans-serif;
}

#page-wrapper { 
  min-height: 94vh;
  position:relative;
  padding-bottom: 200px;
}

.center, .centre { text-align:center; }

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #5A5A5A;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  height: 180px;
  border-top: 2px #3B3089 solid;

}

footer p, footer a { color:#5A5A5A;
  ; }
footer a { text-decoration: underline; }

td, th { padding-bottom: 0.5em; padding-right:1em; }

.jumbotron { padding: 3rem 2rem; }
.jumbotron h1 { font-family: Montserrat,sans-serif; }

span.green-light, span.yellow-light,
span.red-light, span.gray-light {
  border-radius: 1em;
  display: inline-block;
  margin-right: 0.3em;
  top: 0.1em;
  position: relative;
  color: white;
  padding: 0px 0px;
  font-size: 1.4em;
  font-weight: bold;
  width: 1em;
  text-align: center;
  height: 1em;
  line-height: 1em;
} 

span.green-light:before { content: "\2713"; }
span.yellow-light:before { content: "?"; color: white; }
span.gray-light:before { content: "?"; color: white; }
span.red-light:before { content: "\00d7"; }

span.green-light { background-color: #149d32; }
span.gray-light { background-color: silver; }
span.yellow-light { background-color: #ffd94f; }
span.red-light { background-color: #ff2b2b; }

table.datasets-table td { vertical-align: middle; }
table img.licence-image { max-height: 1.0em; height: 50%; opacity: 0.8; }
table img.licence-image:hover { opacity: 1; }

td.endpoint-availability { min-width:7.9em; }
tr.tablesorter-filter-row { display:none; }

.summary-modals .modal-dialog {
  max-width: 67vw;
}

.summary-modals .modal-dialog svg.lds-spin {
  margin:0 auto;
  display: block;
}

img.odi-logo {
  height: 64px;
  padding-right: 15px;
  padding-left: 15px;
}

figure {
  width: 80px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: -5px
}

.navbar {
  border-bottom: 2px #3B3089 solid;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  color: #3B3089
}

a {
  color: #253882;
  text-decoration: underline;
}

.main {
  margin-top: 20px;
}

.nav-link, .nav-item {
  color: #253882 !important;
  text-decoration: none;
}

.btn-primary {
  background-color: #832b94;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #fc9b9b;
}

#word_container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 40pt;
  filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-size: 40pt;
  text-align: center;
  user-select: none;
}


